*{
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: bisque;
    align-items: center;
}





.logo{
    width: 20%;
    margin-left: 20px;
}


