*{
    box-sizing: border-box;
    
}



header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a{
 text-decoration: none;
 margin: 7px;
 font-size: 15px;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 color: black;
 font-weight: 500;
 transition: 0.2s;
}

nav a:hover{
    color: rgb(0, 238, 255);
    transition: 0.2s;
}


.logo{
    width: 20%;
    margin-left: 20px;
}


