 :root{
    --color-seleccion:rgb(6, 196, 189); 
    --color-rojo: #FF5757;
    --porcentaje-alto: #01BE63;
    --porcentaje-medio: #FFDF58;
    --porcentaje-bajo: #FF3535;
    --color-hover: rgb(53, 53, 119);

}

*,
*::before, 
*::after{
    box-sizing: border-box;
}


*[class^="porcentaje"]::after{
    content: "%";
    font-size: inherit;
    color: inherit;

}

*[class^="skill"]{
    border: 2px solid black;
    background-color: white;   
}

*[class^="skill"]:hover{
    border: 3px solid black;
    background-color: rgb(182, 182, 182);  
}


body  *::selection{
    background-color: var(--color-seleccion);
    color: white;
}

    

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    position: sticky;
    top: 0;
    background-color: white;
    width: 100%;
}



nav a:hover{
    color: rgb(5, 5, 206);
    transition: 0.2s;
    box-shadow: 0px 2px 0px rgb(0, 47, 254);
    font-weight: 500;
}



main{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



section a{
    color: #FF5757;
    text-decoration: none;
    transition: 0.3s;
}

section a:hover{
    color: var(--color-hover);
    transition: 0.3s;
}

.logo{
    width: 20%;
    margin-left: 20px;
}

.abrir-menu, .cerrar-menu{
    display: none;
}

.parentesis{
font-size: 20px;
color: gray;
}


.advertencia{
    color: #ff0000;
}

.advertencia{
    color: #ff0000;
}

.advertencia::before
{
    content: "( ";
}

.advertencia::after{
    content: " ) ";
}


.porcentaje-alto, .porcentaje-medio, .porcentaje-bajo {
    font-size: 40px;
    text-align: center;
    color: var(--porcentaje-alto);
    margin: 10px 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.porcentaje-medio{

    color: var(--porcentaje-medio);

}

.porcentaje-bajo{
    color: var(--porcentaje-bajo);  
}

.lengua{
    font-size: 30px;
    text-align: center;
    color: var(--porcentaje-alto);
    margin: 10px 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Empiezan meida quieris */


/* boton hamburguesa */

@media screen and  (max-width: 568px){
    .abrir-menu, .cerrar-menu{
        display: block;
    }

 
    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        position: absolute;
        top: 0;
        right: 0;
        height: 1000px;
        background-color: rgb(1, 1, 5);
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5) ;
        
    }

    .nav.visible{
        opacity: 1;
        visibility: visible;
    }


    .nav a{
        color: white;
        font-weight: bold;
        font-size: 25px;
        margin-bottom: 40px;
    }

    .nav a:hover{
        color: var(--color-hover);
        font-weight: bold;
        box-shadow: 0 2px 0px rgb(255, 255, 255) ;
    }

    .nav-list{
        display: flex;
        flex-direction: column;
        align-items: end;
    }

    .abrir-menu {
        background-color: transparent;
        width: 40px;
        height: 45px;
        border: none;
        font-size: 30px;
        cursor: pointer;
    }
    
    
    .cerrar-menu {
        font-size: 30px;
        background-color: transparent;
        color: white;
        margin-bottom: 40px;
        border: none;
        cursor: pointer;
    }
} 





/* Sm */

@media screen and (min-width: 1em){
    
    nav a{
        text-decoration: none;
        margin: 7px;
        font-size: 15px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: black;
        font-weight: 500;
        transition: 0.2s;
       }
    
    
    
    .nombre{
        color: #FF5757;
        text-align: center;
        margin-bottom: 2px;
    }
    
    .profesion{
        margin-top: 3px;
        text-align: center;
    }


    .contenedor-foto{
        max-width: 100%;
        display: flex;
        justify-content: center;
       
    }
    
    
    
    .foto-yo{
        width: 75%;
        height: auto;
    }
    
    
    .parrafo-1{
        text-align: justify;
        padding: 45px;
        font-size: 26px;
        margin-top: 0px;
    }

 
    .titulos{
        text-align: center;
        padding: 20px;
        font-family: monospace;
        font-size: 40px;
        margin-top: 0px;
        margin-bottom: 60px;
        background-color: beige;
        font-weight: bolder;
    }



.parrafo-acdm, .sk-p{
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            text-align: justify;
            padding: 0 30px;
            font-size: 21px;
        
        }
   
   
        .agradecimientos, .habilidad-titulo{
            margin-top: 150px;
            color: var(--color-rojo);
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 40px;
            text-align: center;
            padding: 0 30px;
        }

        .habilidad-titulo{
            margin-top: 50px;
            padding: 0 10px;   
        }

        .container-picture-1{
            display: flex;
            justify-content: center;
        }

        .img-acdm-1{
            max-width: 85%;
            height: auto;
           
        }
   

        .img-acdm-2{
            max-width: 80%;
            height: auto;
           
        }

        .img-acdm-3{
            max-width: 85%;
            height: auto;
           
        }

    .container-skills{
        display: grid;
        grid-template-columns: 15rem;
        gap: 20px;
        place-content: center;
        transition: 0.2s;
    }

    .otras-skills{
        display: grid;
        grid-template-columns: 15rem;
        gap: 20px;
        place-content: center;
        transition: 0.2s;
    }

        .nombre-skill{
            font-size: xx-large;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            text-align: center;
            margin: 0;
            color: black;
            padding: 10px;
        }
        
      
   
        .separador{
            margin-bottom: 20px;
        }


        .contenedor-imagenes{
            display: flex;
            justify-content: center;
        }

        .skl-img{
            max-width: 40%;
        }

        .skl-img-css{
            max-width: 59%;
        
        }

        .skl-img-git{
            max-width: 47.5%;
        }

        .skl-img-js{
            max-width: 47.8%;
        }

        .skl-img-esp{
            max-width: 60%;
        }

        .skl-img-eng{
            max-width: 40%;

        }


    }


    

/*Md*/

@media screen and (min-width: 48em){

    nav a{
        text-decoration: none;
        margin: 20px;
        font-size: 22px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: black;
        font-weight: 500;
        transition: 0.2s;
       }





    .contenedor-foto{
        max-width: 100%;
        display: flex;
        justify-content: center;
   
    }
    
    
    
    .foto-yo{
        width: 82%;
        height: auto;
    }
    
    
    .parrafo-1{
        text-align: justify;
        padding: 77px;
        font-size: 27px;
        margin:0px;
    }

    .parrafos{
        text-align: center;
        font-family: monospace;
        font-size: 50px;
    }



.parrafo-acdm, .sk-p{
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            text-align: justify;
            padding: 0 50px;
            font-size: 31px;
        
        }



        .agradecimientos{
    
            margin-top: 150px;
            color: var(--color-rojo);
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 70px;
            text-align: center;
            padding: 0 10px;
        }

        .img-acdm-1,.img-acdm-2 {
            max-width: 80%;
            height: auto;
           
        }



 .container-skills{
    grid-template-columns: 15rem 15rem;
    transition: 0.2s;
 }

 .otras-skills{
    grid-template-columns: 15rem 15rem;
    transition: 0.2s;
 }

 

.lengua{
    font-size: 31px;
    text-align: center;
    color: var(--porcentaje-alto);
    margin: 10px 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



        .skl-img-esp{
            max-width: 42%;
        }

 
}



/*Lg*/

@media screen and (min-width: 62em){

    .container-skills{
        grid-template-columns: 15rem 15rem 15rem;
        transition: 0.2s;
    }

    .otras-skills{
        grid-template-columns: 15rem 15rem;
        transition: 0.2s;
     }


}

/* xl */

@media screen and (min-width: 75em){
    .foto-yo{
        width: 90%;
        height: auto;
    }
    
    
    .parrafo-1{
        text-align: justify;
        padding: 65px;
        font-size: 30px;
        margin:0px;
    }


    .container-skills{
        grid-template-columns: 15rem 15rem 15rem 15rem;
        transition: 0.2s;
    }


    .otras-skills{
        grid-template-columns: 15rem 15rem;
        transition: 0.2s;
     }
}

