 :root{
    --color-seleccion:rgb(6, 196, 189); 
 }

*,
*::before, 
*::after{
    box-sizing: border-box;
}



p::selection{
    background-color: var(--color-seleccion);
    color: white;
    }

    b::selection{
        background-color: var(--color-seleccion);
        color: white;
    }
    h1::selection{
    background-color: var(--color-seleccion);
    color: white;
    }
h2::selection{
    background-color:var(--color-seleccion);
    color: white;
    }
h3::selection{
    background-color: var(--color-seleccion);
    color: white;
    }
h4::selection{
    background-color: var(--color-seleccion);
    color: white;
    }
h5::selection{
    background-color: var(--color-seleccion);
    color: white;
    }
a::selection{
    background-color: var(--color-seleccion);
    color: white;   
    }
img::selection{
    background-color: var(--color-seleccion);
    color: white;
    }

span::selection{
    background-color: var(--color-seleccion);
    color: white;
    }

i::selection{
        background-color: var(--color-seleccion);
        color: white;
        }

b::selection{
        background-color: var(--color-seleccion);
        color: white;
        }
    

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    position: sticky;
    top: 0;
    background-color: white;
    width: 100%;
}

nav a{
 text-decoration: none;
 margin: 7px;
 font-size: 15px;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 color: black;
 font-weight: 500;
 transition: 0.2s;
}

nav a:hover{
    color: rgb(0, 238, 255);
    transition: 0.2s;
}


.logo{
    width: 20%;
    margin-left: 20px;
}


main{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



section a{
    color: #FF5757;
    text-decoration: none;
    transition: 0.3s;
}

section a:hover{
    color: rgb(53, 53, 119);
    transition: 0.3s;
}



.parentesis{
font-size: 14px;
color: gray;
}



/* Empiezan meida quieris */

/* Sm */

@media screen and (min-width: 1em){
    .nombre{
        color: #FF5757;
        text-align: center;
        margin-bottom: 2px;
    }
    
    .profesion{
        margin-top: 3px;
        text-align: center;
    }


    .contenedor-foto{
        max-width: 100%;
        display: flex;
        justify-content: center;
       
    }
    
    
    
    .foto-yo{
        width: 75%;
        height: auto;
    }
    
    
    .parrafo-1{
        text-align: justify;
        padding: 81px;
        font-size: 26px;
        margin-top: 0px;
    }

 
    .acdm{
        text-align: center;
        font-family: monospace;
        font-size: 37px;
    }



.parrafo-acdm{
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            text-align: justify;
            padding: 0 30px;
            font-size: 21px;
        
        }
   
   
   
    }










/*Md*/

@media screen and (min-width: 48em){




    



    .contenedor-foto{
        max-width: 100%;
        display: flex;
        justify-content: center;
   
    }
    
    
    
    .foto-yo{
        width: 82%;
        height: auto;
    }
    
    
    .parrafo-1{
        text-align: justify;
        padding: 77px;
        font-size: 27px;
        margin:0px;
    }

}
/*Lg*/

@media screen and (min-width: 62em){}

/* xl */

@media screen and (min-width: 75em){
    .foto-yo{
        width: 90%;
        height: auto;
    }
    
    
    .parrafo-1{
        text-align: justify;
        padding: 65px;
        font-size: 30px;
        margin:0px;
    }

}